{% extends 'base.html' %} {% block content %}
<style>
  .bg {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, #dff5e2, #cee4f5);
  }

  h1 {
    padding: 30px;
  }
</style>

<div class="bg">
  <h1 class="display-1">Profile</h1>
  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}. You are logged in.</p>
  <a href="/accounts/logout">Logout</a>
  {% else %}
  <p>You are not logged in.</p>
  <a href="/accounts/login">Login</a>
  {% endif %}
</div>
{% endblock %}
